<h1>Edit Comment</h1>

<div class="row">
  <div class="col-md-6">
    <p>Comment for <%= @photo.user.username %>'s Photo "<%= @photo.file_name %>"</p>

    <%= render 'form', user: @user, photo: @photo, comment: @comment %>

    <%= link_to user_photo_path(@user, @photo) do %>
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-backward"></span>
          Back
        </button>
    <% end %>
  </div>
</div>

